<h1><%= title %></h1>
<p>Welcome to <a href="shuangpin.html"><%= title %></a></p>
<p>Welcome to <a href="designassist.html">Design Assist</a></p>
<p>Welcome to <a href="typing.html">Typing</a></p>
<p>Welcome to <a href="html2jade.html">HTML 2 Jade</a></p>
<p>Welcome to <a href="html5rose.html">HTML 5 Rose</a></p>
