<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='styles/index.css' />
  </head>
  <body>
    <%- body %>
    <div class="cnzz" style="position: fixed; bottom: 0; left: 5px;">
        <script src="http://s13.cnzz.com/stat.php?id=4861154&web_id=4861154&show=pic1" type="text/javascript"></script>
    </div>
  </body>
</html>
