* {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background: #ADD8E6;
}

#keyboard, #final_count {
    position: relative;
    margin: 30px auto auto auto;
    display: inline-block;
    min-width: 942px;
}

#keyboard > div {
    clear: both;
    padding: 1px 0;
}

#keyboard > div > div, #keyboard > div > div > span {
    display: inline-block;
    float: left;
}

#keyboard > div > div {
    width: 60px;
    height: 60px;
    border: 1px solid #808080;
    margin-right: 1px;
}

#keyboard > div > div > span {
    width: 50%;
    height: 33%;
}

#keyboard #keyBackspace, #keyboard #keyTab, #keyboard #keyCapsLock, /**/
#keyboard #keyEnter, #keyboard #keyShiftL, #keyboard #keyShiftR, #keyboard #keyCtrlL, /**/
#keyboard #keyCtrlR, #keyboard #keyWinL, #keyboard #keyWinR, #keyboard #keyAltL, /**/
#keyboard #keyAltR, #keyboard #keyBlank, #keyboard #keyMenu {
    line-height: 60px;
}

#keyboard #keyBackspace {
    width: 120px;
}

#keyboard #keyTab {
    width: 85px;
}

#keyboard #key113 {
    width: 95px;
}

#keyboard #keyCapsLock {
    width: 105px;
}

#keyboard #keyEnter {
    width: 138px;
}

#keyboard #keyShiftL {
    width: 135px;
}

#keyboard #keyShiftR {
    width: 171px;
}

#keyboard #keyCtrlL, #keyboard #keyCtrlR {
    width: 88px;
}

#keyboard #keyWinL, #keyboard #keyWinR {
    width: 54px;
}

#keyboard #keyAltL, #keyboard #keyAltR {
    width: 100px;
}

#keyboard #keyBlank {
    width: 374px;
}

#keyboard #keyMenu {
    width: 60px;
}

/* keyboard end */
/* final count style */
#final_count table {
    border-collapse: collapse;
    width: 100%;
}

#final_count table th, #final_count table td {
    height: 35px;
}

#final_count table th {
    text-align: left;
    padding-left: 1%;
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

#final_count table td {
    text-align: right;
    padding-right: 1%;
    border-right: 1px solid #888;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.draggable {
    cursor: move;
}

.dragover {
    background: darkTurquoise;
}

.dragged {
    color: #bbb;
}

.dragging {
    background: #ddd;
}

.data {
    display: none;
}
