@font-face
{
    font-family: "texgyrecursor-bold";
    src: url('/fonts/texgyrecursorbold.eot');
    src: local(texgyrecursor-bold), url('/fonts/texgyrecursor-bold.otf') format('opentype');
}
.cnzz {
    position: fixed;
    bottom: 0;
    left: 5px;
}

body {
    background: lightBlue;
}

#handler {
	position: fixed;
	top: 0;  
	left: -1000px;
}

#stat {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: #E8E5E3;
	font-family: TexGyreCursor-Bold, Courier, Verdana, Arial, Helvetica, sans-serif;
}

#stat span {
	color: blue;
	margin: auto 5px;
}


#typing-area {
    border: 30px solid #084563;
    margin: 30px 50px 0;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    text-align: left;
    font-family: TexGyreCursor-Bold, Courier, Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;

    color: #999;
    line-height: 35px;
}

#typing {
	padding: 10px;
	-moz-box-shadow: 0 0 10px 2px #06C;
	-webkit-box-shadow: 0 0 10px 2px #06C;
	box-shadow: 0 0 10px 2px #06C;
}


.typing-focus {
	border: 4px solid #FF8505;
}

.typing-blur {
	border: 4px solid transparent;
}

.current { background: black; }
.right { color: green; }
.wrong { color: red; }

#text, #select-area {
    margin: 30px 50px 0;
    background: transparent;
}

#select {
    margin-bottom: 0;
}
#text {
    width: auto;
}
